@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #060010;
  --foreground: #f5f5fa;
}

@theme inline {
  --animate-move: move 5s linear infinite;

  @keyframes move {
    0% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(200px);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scrollbar-width: none; 
}

html::-webkit-scrollbar {
  display: none; 
}
